.crud-container {
    display: grid;
    grid-template-columns: 30% 70%;
    width: 100%;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .crud-container1 {
    max-width: 100%;
    max-height: 500px;
    overflow-y: auto;
    margin: auto;
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .crud-container2 {
    max-width: 100%;
    max-height: 500px;
    overflow-y: auto;
    margin: auto;
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .crud-container1,
  .crud-container2 {
    transform: translateY(25%);
  }
  
  .crud-container h1 {
    margin-top: 0;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input[type="text"],
  select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .buttonCrud {
    padding: 10px 20px;
    background-color: blueviolet;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .crud-container2 {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
  }
  
  .book-info {
    background-color: white;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .book-info img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  
  .book-info h3 {
    margin: 0;
    font-size: 18px;
  }
  
  .book-info p {
    margin: 5px 0;
    font-size: 14px;
  }
  
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .modal-content h3 {
    margin-top: 0;
    font-size: 18px;
  }
  
  .modal-content p {
    margin: 5px 0;
    font-size: 14px;
  }
  
  .modal-content img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  
  .modal-content button {
    margin-top: 10px;
  }
  